*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #061529;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    opacity: 0.5;
}
.choice{
    height: 170px;
    width: 170px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}